
<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="body">


  <div class="field">
    <% f.label "name" %>
    <%= f.text_field :name, class: "eventname", placeholder: "What"%>
  </div>



  <div class="field">
    <%f.label :When %>
    <%#= f.datetime_select :time %>
    <%= f.text_field :time, class: 'datepicker eventname', placeholder: "When"  %>
  </div>

  <div class="field">
    <% f.label :where%>
    <%= f.text_field :location, placeholder: 'name', class: "eventname", placeholder: "Where" %>
</div>


  <div class="field">
    <% f.label :address %>
    <%= f.text_area :address, placeholder: 'Address', class: "eventname" %>
</div>









    <div class="field">
      <% f.label 'Invite Friends' %>
      <h2>Invite Friends</h2>


  </div>

  <center>

      <%= f.fields_for :users do |users_form|%>
        <%= render partial: 'user_fields', locals: {f: users_form} %>
      <%end%>

<div class="float">
    <%= link_to_add_association "Add More", f, :users, id: 'new-association' %>
</div>
</center>
<div class="containertwo">

    <div class="lefttwo">
      <%= f.check_box :closed%>
  </div>
  <div class="righttwo">
    <%= f.label :closed%>
  </div>
</div><br>
  </div>




<div class="field2">





  <div class="field">
    <% f.label :description %>
    <%= f.text_area :description, class: 'textboxlrg', placeholder:'Description' %>
  </div>

  <div class="actions">
    <%= f.submit(class: 'button') %>
  </div>
</div>
</div>
</div>
<% end %>

<script type="text/javascript">
  flatpickr(".datepicker", {
    enableTime: true,
     dateFormat: "m/d/Y h:m",
     minDate: "today"

  });




  $(document).on('keyup', '.friendfieldnumber', function() {
    var number_values = $('.friendfieldnumber').map(function() { return $(this).val() }).get();
    if ($.inArray('', number_values) == -1) {
      $('#new-association').click();
    }
  })

</script>
