<div class="body">
<p id="notice"><%= notice %></p>


  <h1><strong><%= @event.name %></strong></h1>

<div class="field show">
  <strong>When</strong><br>
  <hr>
  <%= @event.time.strftime(('%A, %B %d, %Y @ %H:%M %P')) %><br><br>


  <strong>Where</strong><br>
  <hr>
<%= @event.location %><br>

  <%= @event.address %><br><br>


  <strong>Invite Friends?</strong><br>
  <hr>
  <%= @event.closed %><br><br>



  <strong>More Info</strong><br>
  <hr>

  <%= @event.description %><br><br>




<% link_to 'Edit', edit_event_path(@event) %>
<% link_to 'Back', events_path %>
</div>
</div>
