<div class="body">
<p id="notice"><%= notice %></p>


  <h1><%= @event.name %></h1>

<div class="field show">
  <strong>When</strong><br>
  <%= @event.time.strftime(('%d-%m-%Y %H:%M')) %><br><br>


  <strong>Where</strong><br>
<%= @event.location %><br>

  <%= @event.address %><br><br>


  <strong>Closed:</strong>
  <%= @event.closed %><br><br>



  <strong>More Info</strong><br>

  <%= @event.description %><br><br>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
</div>
